.titulo{
    background-color: rgb(142, 25, 25);
}

.cabecalho{
    display: flex;
    justify-content: end;
    justify-content: space-around;
    height: 60px;
    border-bottom: 2px solid;
    border-color: #f26b6b;
    align-items: center;
    color: red
}
*{margin: 0;
}
.hero{


    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    
}
.descricao{
    width: 350px;
}

.hero_imagem{
    width: 350px;
    background-color: rgb(204, 204, 204);
    height: 350px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;



}